.line_benefits{
  width: 750px;
  height: 15px;
  position: relative;

}

ul.sub_feature li {
    display: flex;
    align-items: center;
    gap: 12px;
    line-height: 3;
}
ul.sub_feature  {
  padding-left: 0px;
}
ul.sub_feature li img {
    height: 26px; 
}
.border-right{
    border-right: 2px solid #000;
    margin-right: 10px !important;
    padding-bottom: 1rem;
}
.benefit-wrap {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.b2b-text-lg{
    font-size: 28px;
    font-weight: 600;
    line-height: 32px;
    color:#ffffff;
  }
  .b2b-text-sm{
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    color:#ffffff;
  }
  @media screen and (max-width: 1440px){
    .b2b-text-lg{
        font-size: 20px;
        line-height: 30px;
      }
      .b2b-text-sm{
        font-size: 16px;
        line-height: 28px;
      }
  }
  @media screen and (max-width: 1366px){
    .b2b-text-lg{
        font-size: 18px;
        line-height: 30px;
      }
      .b2b-text-sm {
        font-size: 14px;
        line-height: 25px;
    }
  }
