*{
    margin: 0;
    padding: 0;
}
.line2ellips
{
    height: auto;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.banner_text_color
{
    color: #EF6B19;
}
.blog_banner_bold
{
    font-weight: 500;
}
.new_blog_des_home{
    height: 45px;
    overflow: hidden;
    font-size: 14px;
}
.new_blog_des_home span p  span
{
    color: #fff !important;
}
.new_blog_des_home span p
{
    color: #fff !important;
}
.new_blog_title p 
{
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    line-height: normal;
    padding: 10px 0;
}
.new_blog_card
{
    padding: 20px;
    border: 2px solid #7e7e7e;
    border-radius: 10px;
}
.new_blog_card_outer
{
    padding: 20px;
}
.featured_left
{
    height: 492px;
    overflow-y: scroll;
}
.featured_inner 
{
    display: flex;
}
.featured_outer
{
    height: 120px;
    overflow: hidden;
    margin: 10px;
    border: 2px solid #7e7e7e;
    padding: 10px;
    border-radius: 10px;
}
.featured_img 
{
    width: 30%;
}
.featured_text 
{
    width: 68%;
    padding: 0 10px;
}
.new_blog_img img
{
    border-radius: 10px;
}
.featured_img img {
    height: 100px;
    width: 175px;
    object-fit: cover;
    border-radius: 10px;
}
.featured_text .new_blog_title p {
    font-size: 16px;
    padding: 5px 0;
}
.new_blog_read_more 
{
    display: flex;
    align-items: center;
    color: #fff;
    gap: 10px;
    text-decoration: underline;
}
.new_blog_read_more img 
{
    width: auto ;
    height: 10px;
}
.blog_banner_gradient
{
    background: linear-gradient(180deg, transparent, #1f222f);
    position: absolute;
    left: 0;
    width: 100%;
    height: 30%;
    bottom: 0;
}


@media screen and (max-width:768px) {
    .new_blog_card_outer 
    {
       padding: 20px 0;
    }
    .featured_outer
    {
        height: auto;
    }
     .featured_text 
     {
        padding-right: 0;
     }
}