.canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.foreground {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url('http://www.sketchworld.de/images/trees2.png') repeat-x left bottom;
  background-size: 10%;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-size: 20px;
}



.star-blink {
  position: absolute;
  width: 7px;
  height: 7px;
  background-color: #b6cbd4;
  border-radius: 50%;
  top: 50%;
  left: 30%;
  transform: rotate(0deg) scale(0.08);
  animation: blinkAfter 5s infinite ease-out;
}

.star-blink div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(45deg) scale(0.75);
  box-shadow: 0 0 2px 8px rgba(0, 0, 0, 0.4),
              0 0 2px 9px rgba(255, 255, 255, 0.07),
              0 0 2px 15px rgba(0, 0, 0, 0.4),
              0 0 2px 16px rgba(255, 255, 255, 0.1);
}

.star-blink:after,
.star-blink:before {
  content: '';
  position: absolute;
  display: block;
  top: -50%;
  left: 50%;
  height: 800%;
  width: 10%;
  border-radius: 50%;
  background-color: #b6cbd4;
  background: -webkit-linear-gradient(
    top,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0.1) 100%
  );
  box-shadow: 0 0 25px white;
}

.star-blink:before {
  transform: rotate(90deg);
}

.star-blink.blue {
  top: 65%;
  left: 50%;
  animation: blinkAfter 5s infinite 2s ease-out;
}

.star-blink.blue:after,
.star-blink.blue:before {
  box-shadow: 0 0 25px rgba(0, 0, 255, 1);
}

.star-blink.red {
  top: 55%;
  left: 70%;
  animation: blinkAfter 5s infinite 4s ease-out;
}

.star-blink.red:after,
.star-blink.red:before {
  box-shadow: 0 0 25px rgba(255, 0, 0, 1);
}

@keyframes blinkAfter {
  0% {
    transform: rotate(0deg) scale(0.08);
  }
  4% {
    transform: rotate(-20deg) scale(0.9);
  }
  8% {
    transform: rotate(-40deg) scale(0.08);
  }
  50% {
    transform: rotate(-40deg) scale(0.08);
  }
  52% {
    transform: rotate(-50deg) scale(0.3);
  }
  54% {
    transform: rotate(-60deg) scale(0.08);
  }
  100% {
    transform: rotate(0deg) scale(0.08);
  }
}
