.circular-icons-container {
  position: relative;
  width: 100%;
  max-width: 200px;
  height: 600px;
  transform: rotateY(180deg) !important;
  z-index: 4;
}

.circular_icon_img 
{
    transform: rotateY(180deg);
}

.circular-icon {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}


.circular_icon_img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: all 0.2s ease-in-out;
}

.circular_icon_img:hover
{
   transform: scale(1.2) rotateY(180deg);
}
@media screen and (max-width:1850px)
{
  .circular-icon 
  {
    width: 60px;
    height: 60px;
  }
}

@media screen and (max-width:1660px) {

  .circular-icon 
  {
    width: 50px;
    height: 50px;
  }
}