.seo {
    background-repeat: no-repeat;
    background-position: center;
    color: #fff; 
}
.text-center.text_primary.overlap_seo {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: 8rem;
}



/* accodion css */
ul.tagsSeo {
    list-style: disc;
    padding-left: 15px;
}
.seoBox {
    background: #131313;
    padding: 25px;
    line-height: 2;
}
  /* .accordion > .title > * {
    margin: 0px !important;
    font-size: 30px;
    font-weight: 400;
  }
  
  .accordion .item {
    position: relative;
  }
  
  .accordion .item .input {
    position: absolute;
    visibility: hidden;
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .accordion .item .item-names {
    padding: 8px 10px;
    background: #353535;
    text-align: left;
    width: 100%;
    border: none; 
    display: block;
    color: #fff;
    font-size: 25px;
    font-weight: 500;
  }
  
  .accordion .item .desc {
    margin: 0px;
    opacity: 0;
    max-height: 0px;
    padding: 5px 10px;
    font-size: 15px; 
    transition: all 0.5s ease-in-out 0s;
  }
  
  .accordion .item .item-name:hover ~ .desc, .accordion .item .desc:hover {
    opacity: 1;
    max-height: 500px;
    transition: all 1s ease-in-out 0s;
  }
  .accordion .item:hover > .item-name {
    border-bottom: transparent;
  }
  .accordion .item:last-child > .item-name, .accordion .item:last-child > .desc {
    border-bottom: transparent;
  } */
  .borderBox {
    border: 1px solid #fff;
}
  
.accordion-item { 
    border: none !important;
}
  .accordion-collapse.collapse.show {
    visibility: visible;
    color: #fff;
}
  .orderOne, .orderSocial {
    order: 2;
}
.orderTwo{
    order: 1;
}
.col-md-4.item-name.orderOne button, .orderSocial button{
    transform: rotate(90deg);
}
button.item-names.social_margin {
    margin-left: 5rem;
}


/* revenue css */
.revenue_bg{
    background: #131313;
    padding: 20px;
    border-radius: 35px;
}
.borderStack img {
    height: 90px;
    width: 200px;
    object-fit: contain;
    margin: auto;
}
.col.borderStack {
    flex: 20%;
    width: 20%;
    border: 1px solid #fff;
    padding: 30px;
    text-align: center;
}