
img.banner_online {
    width: 100%;
    height: 800px;
    object-fit: contain;
}
.overlap_button {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 70%;
}
ul.publicity_data li {
    line-height: 2;
    margin-bottom: 2.3rem;
}
.service_text{
    margin-top: 13rem;
}

@media screen and (max-width:1100px) {
    img.banner_online {
        height: 600px;
    } 
}

@media screen and (max-width:991px) {
    img.banner_online {
        height: 400px;
    }
}