.vertical-slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease;
}

.slided {
    height: 100vh;
}

img.down.rotate {
    transform: rotate(180deg);
}

.slide_services.bg-black {
    position: sticky;
    top: 100px;
}

.containers {
    width: calc(100vw - (100vw - 100%));
    height: calc(100vh - 120px);
    scroll-snap-type: y mandatory;
    scroll-padding: 10px;
    overflow-y: scroll;
    transition: 1s;
}

.child {
    height: 100%;
    scroll-snap-align: center;
    display: flex;
    align-items: center;
    transition: 1s;

}

/* .child :nth-child(odd) {
    background-color: red;
  }
  
  .child :nth-child(even) {
    background-color: green;
  } */






a.nav-link.active {
    background: transparent !important;
    border-radius: 0px;
}

a.nav-link {
    color: #fff !important;
}

.tabs_link {
    display: flex;
    align-items: center;
    width: 50%;
    line-height: 3;
    cursor: pointer;
}

img.icon_seo {
    width: 25px;
    height: 25px;
    margin-right: 12px;
}

.active .tabs_link img {
    filter: grayscale(0) !important;
    opacity: 1 !important;
}

.active .tabs_link {
    color: #fff !important;
}

.nav-link h2 {
    color: #3C3C3C;
}

.nav-link .tabs_link {
    color: #3C3C3C;
}

.nav-link .tabs_link img {
    filter: grayscale(1);
    opacity: 0.2;
}

.column-groupp .pink-color {
    border-bottom: 1px solid #3f3f3f;
    color: #F47B52 !important;
}

a.name_project,
.tabs_link:hover {
    transition: 0.2s;
}

a.name_project:hover,
.tabs_link:hover {
    color: #B6CCFF !important;
    padding-left: 3px;
}

.tabs_link:hover img {
    border: 1px solid #B6CCFF;
}

.pink-color {
    color: #F47B52 !important;
}

.column-groupp .pink-color:last-child {
    border-bottom: none;
}

.column-groupp {
    border: 1px solid #3f3f3f;
    padding: 10px 20px;
    margin: 2em auto;
}

.bg-gray {
    background: #2b2b2b;
}

.progress-count .count-col h1 {
    border-radius: 50%;
    border: 2px solid #F47B52;
    width: 130px;
    height: 130px;
    line-height: 120px;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 35px;
}

.pointer {
    cursor: pointer;
}

a.remove_under_line {
    color: #fff;
    text-decoration: auto;
}

.img-wrap {
    position: relative;
    display: grid;
    place-items: center;
    padding: 0;

}

.line_working_process {
    width: 300px;
    height: 15px;
    position: relative;
    bottom: 5px;

}

@media (max-width:768px) {
    .line_working_process {
        display: none;
    }
}