.quote-box button:hover {
    background: #071c4d;
    border: 1px solid #F47B52;
    box-shadow: 0px 2px 30px #F47B52;
    transition: 0.4s;
    padding: 12px 43px;
}
.ppc-count-bg{
    background: #251c30;
    padding: 2em;
    border: 3px solid #F47B52;
}

.quote-box {
    background: #251c30;
    padding: 2em;
    border: 3px solid #F47B52;
    background-image: linear-gradient(to right, #271218, #0F2227);
}
.quote-box button {
    border-radius: 30px;
}