* {
    margin: 0;
    padding: 0;
}

.custom_padding {
    padding-bottom: 45px;
}
.custom_pt
{
   padding-top: 50px;
}
.case_study_banner_text {
    padding: 0 15%;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
}

.case_banner {
    font-size: 40px;
    font-weight: 600;
    color: #fff;
    line-height: 50px;
}

.about_para {
    font-size: 18px;
    line-height: 25px;
    color: #fff;
}

.about_dis_bg {
    background-color: #1F222F;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.objective_black_bg {
    background-color: #000;
}

.width_70 {
    width: 70%;
}

/* objective banner */
.main_objective_con {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.objective_content {
    width: 45%;
}

.objective_banner_con {
    width: 40%;
    display: flex;
    align-items: center;
}

.objective_banner {
    width: 100%;
}

.objective_main_title {
    font-size: 19px;
    color: #fff;
    line-height: 25px;
}

.objh2_ {
    font-size: 40px;
    font-weight: 700;
    color: #fff;
}

.challenge_title {
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    color: #fff;
}

.challenge_para {
    width: 60%;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.chall_banner {
    display: flex;
    justify-content: center;
}

.chall_banner img {
    width: 80%;
    object-fit: contain;
    border-radius: 10px;
}

.challenge_dis_title {
    font-size: 18px;
    font-weight: 600;
    margin: 20px auto 0px;
    color: #fff;
}

.challenge_dis {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
    color: #fff;
}

.chall_ul {
    direction: rtl;
    text-align: left;
    display: flex;
    align-items: center;
}

.ul_challenge {
    overflow: auto;
    height: 400px;
}

.Solution_section {
    color: #fff;
}

.solution_title_h2 {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.div_solution {
    margin: 10px 0;
}

.solution_inner_container {
    padding: 20px;
    display: flex;
}

.solution_inner_container img {
    width: 43px;
    height: 43px;
    object-fit: contain;
    margin-right: 10px;
}

.solution_dis_p {
    font-size: 14px;
    line-height: 21px;
}

.solution_dis_span {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
}

.border_right {
    border-right: 1px solid #6a6363;
}

.all_solutions {
    padding: 30px 0 50px;
    row-gap: 20px;
}

.Final_section {
    background-color: #161616;
    padding-bottom: 0;
}

.final_sec_title {
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 10px;
    color: #fff;
}

.final_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50px 20px 40px 20px;
    text-align: center;
    margin:0px 5%;
    background: #1f222f;
    padding: 25px 5px;
    height: 100%;
    cursor: pointer;
}

.final_inner {
    border-radius: 50px 20px 40px 20px;
    padding: 25px 0;
}

.final_container img {
    width: 33%;
    height: 80px;
    margin-bottom: 10px;
    object-fit: contain;
}

.final_color_title {
    color: #f47b52;
    font-weight: 700;
    font-size: 18px;
}
.final_dis
{
    width: 85%;
    margin: auto;
    color: #fff;
    font-size: 13px;
}
.cus_mar
{
    margin-top: 3%;
}
/* on hover result section */
.green_grad:hover{
    background: radial-gradient(85.16% 132.43% at 10% 99%, #8BB43F 0%, #111616 70%);
    box-shadow: 0px 0px 10px #8BB43F ;
}

.sky_grad:hover{
    background: radial-gradient(85.16% 132.43% at 10% 99%, #3A85C6 0%, #111616 70%);
    box-shadow: 0px 0px 10px #3A85C6  ;
}

.yellow_grad:hover{
    background: radial-gradient(85.16% 132.43% at 10% 99%, #BD6E04 0%, #111616 70%);
    box-shadow: 0px 0px 10px #BD6E04 ;
}

.purple_grad:hover{
    background: radial-gradient(85.16% 132.43% at 10% 99%, #4556EC 0%, #111616 70%);
    box-shadow: 0px 0px 10px #4556EC ;
}

.red_grad:hover{
    background: radial-gradient(85.16% 132.43% at 10% 99%, #9D2A52 0%, #111616 70%);
    box-shadow: 0px 0px 10px #9D2A52 ;
}
.loria_banner
{
    background: #000;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}
.loria_banner img 
{
    width:100%;
    border-radius: 25px;
}
._l_banner_img1
{
    margin-bottom: 50px;
}
.upper_banner
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vip_cus_banner
{
    width: 60% !important;
}
.case_study_banner_padding
{
    padding: 6% 0;
}
.case_row_gap
{
    row-gap: 10px;
}
@media screen and (min-device-width: 1500px) and (max-device-width: 2500px) { 
    .case_study_banner_padding
    {
        padding:6% 0;
    }
    .case_study_banner_padding2
    {
        padding:4% 0;  
    }
}

@media screen and (max-width:991px) {
    .border_right {
        border: none;
    }

    .border_bottom {
        border: none;
    }
    .case_banner
    {
        font-size: 28px;
        line-height: 38px;
    }
}

@media screen and (max-width:749px) {
    .border_bottom {
        border: none;
    }
    .ul_challenge 
    {
        padding: 0;
        height: auto;
    }
    .all_solutions
    {
        padding: 0;
        row-gap: 0;
    }
    .all_solutions:last-child
    {
        border-bottom: none;
    }
    .case_banner
    {
        font-size: 22px;
        line-height: 30px;
    }
    .final_container
    {
        margin: 0;
    }
    .width_70 {
        width: auto;
        padding: 0px 10px;
    }
    .solution_inner_container 
    {
        padding: 20px 0;
    }
    .main_objective_con {
        flex-direction: column;
    }

    .objective_content,
    .objective_banner_con {
        width: auto;
        padding: 0px 10px;
    }

    .vip_ul {
        padding: 0;
    }

    .about_para {
        font-size: 14px;
    }

    .about_heading {
        font-size: 25px;
    }

    .objh2_ {
        font-size: 30px;
    }

    .challenge_dis {
        font-size: 14px;
        line-height: 19px;
    }

    .case_study_banner_text {
        padding: 0;
        font-size: 22px;
        line-height: 31px;
    }

    .objective_main_title {
        font-size: 17px;
    }

    .challenge_para {
        width: auto;
    }

    .border_right {
        border: none;
    }

    .border_bottom {
        border-bottom: 1px solid #6a6363;
        margin: 0;
    }
    .Solution_section
    {
        padding-bottom: 0;
    }
    .chall_ul
    {
        margin-top: 20px;
    }
}