/* .Typewriter span {
    font-size: 70px;
    color: #fff;
} */

.line_faq{
    width: 550px;
    height: 15px;
}
.hoverEffect {
    background: rgba(40, 40, 40, 1); 
    border-radius: 10px; 
    color: #fff; 
    transition: 2s;
    opacity:0.89;
}
.single-img {
    position: relative; 
  }
.img-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; 
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
    max-width:96%;
    margin:0 auto;
  }
  .slider__item{
    display: block;
    width: 100%;
    height: auto;
  }

  .slick-slide.slick-active.slick-center.slick-current .single-img:hover .img-overlay {
    height: 100%;
    border: 1px solid #fff;
    padding: 2rem;
  }

  /*.heading_content{
    font-weight: 200;
  }*/

  .contentBox {
    box-shadow: 0px 4px 60px 0px rgba(0, 0, 0, 1);
    border: 1px solid rgba(147, 146, 146, 1);
    background: rgba(40, 40, 40, 1);
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    gap: 1rem;
}
.contentBox img{
    width: 75px;
    height: 75px;
    object-fit: contain;
}
.caseImg{
    background: rgba(255, 209, 180, 1);

}

.case2{
    background: #26292e;
}
h5.digital_desc {
    font-weight: 300;
    padding-right: 5rem;
}
img.logo_marketinh.w-100 {
    max-width: 150px !important;
    max-width: 150px !important;
    border: 2px solid #32353B;
    height: 150px;
    object-fit: contain;
    padding: 10px;
}
.p-5.bg_marketing {
    background: #0F0F0F;
}
.workIdea {
    background: #000;
    padding: 30px;
    border-radius: 20px;
    
}
.workIdea p {
    font-weight: 200;
    font-size: 14px;
}
.workIdea img{
    width: 50px;
}
.needBox {
    background: #000;
    border-radius: 26px;
    border: 2px solid #999999;
    height: 25rem;
}
p.font-weight-normal {
    font-weight: 100;
    font-size: 15px;
}
img.lineCenter {
    height: 75%;
    margin: auto;
}
.topSpaceLines {
    margin-top: 13rem;
}


/*-----SLider-Grid------*/
.slider-grid {
    display: flex;
    flex-wrap: wrap;
    row-gap: 3rem;
    column-gap: 0px;
}
.slider-grid .single-img img.slider__item {
    max-height: 550px;
    -o-object-fit: cover;
    object-fit: cover;
    object-position: 0 0;
    border-radius:10px;
}
.slider-grid .single-img:hover .hoverEffect {
    height: 100%;
    padding: 0 2rem;
    border-radius:10px;
}


img.digital_img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-right: 7px solid #396BDB;
}
.digital_box {
    background: #1F222F;
    position: relative;
    height: 100%;
}
img.digital_icon {
    background: #396BDB;
    padding: 16px;
    border-radius: 50px;
    position: absolute;
    bottom: 62px;
    left: 20px;
    width: 65px;
    height: 65px;
}
.leader_box {
    padding: 20px 100px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
}
.leader_box i {
    position: absolute;
    right: 36px;
    bottom: 20px;
}
.leader_box i:before {
    content: '→';
    font-size: 28px;
    transition: 0.6s;
    display: block;
}
.leader_box:hover i:before{
    transform: translateX(10px);
}
.gallery_slider {
    display: flex;
    gap: 2rem;
    align-items: center;
    height: 100%;
}
.main_gallery {
    background: #1F222F;
    /* padding: 3rem 0px; */
    /* margin-top: 2rem; */
    color: #fff;
}
.main_gallery .b2b-container-lg {
    height: 100%;
}
.left_thumnails {
    display: flex;
    align-items: center;
}
.left_thumnails a {
    border: 1px solid #fff;
    padding: 10px;
    display: flex !important;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    background: #1f222f;
    z-index: 2;
    position: relative;
}
.left_thumnails a,
.left_thumnails .slick-slide {
    height: 70px !important;
    width: 70px !important;
}
.left_thumnails{
    position: relative;
    padding: 30px 0px;
}
.left_thumnails,
.left_thumnails .slick-track{
    width: 100px !important;
    height: 100% !important;
}
.left_thumnails .slick-track {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: unset !important;
}
.left_thumnails .slick-slide {
    margin-bottom: 16px;
}
.left_thumnails .slick-slide img {
    width: 50px !important;
    height: 50px !important;
    object-fit: contain !important;
    z-index: 2;
    cursor: pointer;
}
.right_slider {
    width: calc(100% - 200px);
}
.left_thumnails .slick-slider,
.right_slider .slick-slider {
    margin-top: 0 !important;
}
.left_thumnails:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 2px;
    border: 1px dashed #fff;
}
.left_thumnails .slick-slide a:before {
    content: '';
    width: calc(100% - 7px);
    height: calc(100% - 7px);
    background-color: #fff;
    position: absolute;
    border-radius: 50%;
    z-index: 1;
    opacity: 0;
    transition: 0.6s;
}
.left_thumnails .slick-slide.slick-active.slick-current a:before {
    opacity: 1;
}
.growBusinessType p {
    font-size: 18px;
    font-weight: 700;
    line-height: normal;
    margin-left: 15px;
    color: #fff;
    padding-right: 50px;
}
.growBusinessType img {
    height: 50px;
    width: auto;
}
ul.checkListing {
    padding: 0;
    margin-top: 40px;
}
.checkListing li {
    padding-left: 26px;
    position: relative;
    margin-bottom: 12px;
    color: #fff;
}
ul.checkListing li:before {
    content: '';
    background-image: url(../../../public/digital/check-mark.svg);
    width: 18px;
    height: 18px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 2px;
}
.box-nav {
    width: 40px !important;
    height: 40px;
    background-color: #B6CCFF;
    display: grid;
    place-items: center;
    border-radius: 50%;
}
.box-nav span {
    margin-top: 0;
    transform: rotate(-0.12turn);
    transition: .5s;
    
}
.box-nav span:before {
    content: '→';
    font-family: monospace;
    font-size: 26px;
    color: #000000;
    z-index: 2;
}
.counter {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.counter>span {
    -webkit-text-fill-color: #1f222f;
    -webkit-text-stroke: 1px #fff;
    font-size: 30px;
    font-weight: 700;
}
.counterWrap .counterInnerWrap:nth-child(odd){
    padding-right:60px;
}
.counterWrap .counterInnerWrap:nth-child(even){
    padding-left:60px;
}
.counterWrap .counterInnerWrap h3{
    font-size: 24px;
    line-height: normal;
    color: #fff;
    margin-bottom: 20px;
}
.whyChoosewrap h4{
    color: #fff;
    font-size: 20px;
    line-height: normal;
}
.whyChoosewrap h4 {
    color: #fff;
    font-size: 18px;
    line-height: normal;
    font-weight: 600;
}
.whyChoosewrap p {
    margin-bottom: 0;
}
.dmWrap {
    display: grid;
    place-items: center;
    padding: 45px 25px;
    border-radius: 225px;
    background-color: #1F222F;
    height: 270px;
    width: 176px;
    position: relative;
    margin: auto;
}
.whyChoosewrap-row {
    justify-content: center;
}
.dmWrap:before {
    content: '';
    width: calc(100% - 30px);
    height: calc(100% - 30px);
    position: absolute;
    left: 15px;
    top: 15px;
    border-width: 2px;
    border-radius: 225px;
    border-style: dashed;
    border-color: #fff;
    opacity: 0.5;
}
.whyChoosewrap .dmWrap p {
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    margin: 10px 0;
    padding: 0 14px;
    text-align: center;
}
.whyChoosewrap img.icon{
    height: 45px;
    width: auto;
}
.whyChoosewrap img.checkicon{
    height: 30px;
    width: 30px;
}
.whyChoosewrap-row{
    justify-content: space-around;
}
ul.counter-checklist {
    padding: 0;
}
.counter-checklist li {
    padding-left: 36px;
    position: relative;
    color: #fff;
}
ul.counter-checklist li:before {
    content: '';
    background-image: url(../../../public/digital/check-square.svg);
    width: 18px;
    height: 18px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 3px;
}
.counter-checklist h4 {
    font-size: 18px;
}
.leader_box a {
    width: 100%;
    display: block;
}
.counterInnerWrap .hoverGradient.blueGD:hover>div {
    background: radial-gradient(47.91% 76.58% at 45% 75.25%, rgba(42, 54, 156, 0.99) 0%, #1f222f 100%);
}
.counterInnerWrap .hoverGradient:hover>div {
    box-shadow: none;
  }
.counterInnerWrap .hoverGradient:after {
    bottom: -10px;
}
.whyChoosewrap .hoverGradient {
    height: unset;
}
.whyChoosewrap .hoverGradient>div {
    border: 0.74px solid transparent;
}
.whyChoosewrap .hoverGradient:hover>div {
    box-shadow: none;
    border-color: #474747;
}
.whyChoosewrap .hoverGradient:hover .dmWrap {
    box-shadow: none;
}
.whyChoosewrap .hoverGradient .dmWrap {
    border: 0;
}
.whyChoosewrap .hoverGradient:after {
    display: none;
}
.businessNeed .hoverGradient>div {
    border-bottom: 1px solid transparent;
  }
.businessNeed .hoverGradient:hover>div {
    border-color: #525252;
}
.hoverGradient.blueGD:hover .digital_box {
    background: radial-gradient(50.91% 76.58% at 80.73% 75.25%, rgba(42, 54, 156, 0.99) 0%, #1f222f 100%);
}
.hoverGradient.blueGD:hover .digital_box img.digital_img{
    border-color: rgba(42, 54, 156, 0.99);
}
.slider_right_main { 
    padding-top: 5rem;
    height: 100vh;
    position: sticky;
    top: 100px;
    background-color: #1f222f;
}
.image-meta {
    width: 80%;
    margin: 0 auto;
}

@media screen and (min-width:992px) {
    .right_slider .tab-active{
        filter: blur(4px);
    }
    .right_slider .tab-active:nth-last-of-type(){
        filter: blur(0px);
    }
}

@media screen and (max-width:991px) {
    .counterWrap .counterInnerWrap:nth-child(odd){
        padding-right:15px;
    }
    .counterWrap .counterInnerWrap:nth-child(even){
        padding-left:15px;
    }
}
@media screen and (max-width:575px) {
    .slider-grid .single-img img.slider__item {
        min-height: 500px;
    } 
    .slider_right_main {
        padding: 50px 0;

    }
    .image-meta {
        width: 70%;
        margin: 0 auto;
    }

    .line_faq{
        display: none;
    }
}