.service-banner {
    height: 80vh;
}

.setHeight {
    height: 70vh;

}

.img_case img {
    padding: 20px;
    width: 90%;
    height: 400px;
    object-fit: cover;

}

.work_bg {
    background: linear-gradient(163deg, rgba(40, 34, 78, 1) 5%, rgba(2, 0, 3, 1) 43%);
}



.greem {
    border: 3px solid green;
}


.case_para {
    margin: 26px 0px !important;

}

.img_case {

    width: 80%;

}

.btn_portfolio {
    color: #fff !important;
    padding: 9px 30px !important;
    border-radius: 50px !important;
    border: 1px solid #fff !important;
}

button.nav-link.btn_portfolio.active {
    background: #396BDB !important;
    padding: 9px 30px;
    border: 1px solid #396BDB !important;
}

/* .case_box img {
    width: 100%;
    height: calc(436px - 15px);
    object-fit: cover;
    border-radius: 25px;
    object-position: center;
} */
.case_box img {
    width: 100%;

}

.button_arrow {
    display: inline-block;
}



.button:hover .button_arrow {
    transform: rotate(45deg);
}

.section_two_main {
    background: rgb(17, 17, 22);
    color: aliceblue;
}

.sec_two_heading {
    font-size: 35px;
    text-align: center;
    line-height: 47px;
    width: 47%;
    margin: auto;
    padding-top: 20px;
}

.sec_two_button {
    text-align: center;
}

.button_sec_two {
    background: transparent;
    border: 1px solid white;
    border-radius: 40px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding: 7px 23px;
    margin: 20px 15px;
}


.section_case {

    margin-top: 20px;
}

.img_des {
    padding: 10px;
    background-color: rgb(31, 34, 47);
    color: white;
}



.img_des p {
    border-bottom: 1px solid white;
    padding-bottom: 3px;
    display: -webkit-box;

    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.button {
    display: flex;
    justify-content: right;

}

.button button {
    background: transparent;
    color: rgb(121, 153, 226);
    border: none;

    padding-bottom: 10px;

}

.b2b-heading {
    margin-bottom: 25px;
}

.title_obj {
    font-size: 15px;
}

.item_main {
    width: 100%;
    margin: auto;
}

.item_main img {
    max-height: 281px;
    object-fit: cover;
}

.nav {}

.pagination {
    justify-content: center;
    margin-left: 20px;
}

.page-link {
    border-radius: 5px;
    padding: 2px 8px;
}

.page-item {

    margin: 0 6px;
    border-radius: 5px;
}

.parent:hover {
    color: #e6693f;

}

.case_title
{
    color: #e6693f;
    font-size: 17px;
    font-weight: 600;
    min-height: 40px;
}
.title_obj_des
{
    font-size: 14px;
    min-height: 66px;
}
.case_main_banner 
{
    overflow: hidden;
}
.case_left_banner 
{
    position: absolute;
    left: -24%;
    width: 43%;
}
.case_right_banner 
{
    position: absolute;
    right: -24%;
    width: 43%;
}
@media screen and (max-width:1025px) 
{
    .service-banner {
        height: auto;
        padding: 5% 0;
    }
}
@media (max-width:768px) {
    .b2b-sub-heading-bold {
        font-size: 24px;
        text-align: center;
        line-height: 32px;
    }

    .sec_two_heading {
        font-size: 20px;
        line-height: 29px;
        width: 90%;
        margin: auto;
        padding-top: 25px;
    }

    .button_sec_two {
        background: transparent;
        border: 1px solid white;
        border-radius: 38px;
        color: white;
        font-size: 11px;
        font-weight: 400;
        padding: 4px 15px;
        margin: 13px 8px;
    }


    .item_main>.img_des {
        padding: 10px;

    }


    .pagination {

        margin-left: 0px;
    }



    .b2b-heading {
        font-size: 18px;
    }







    .caseTabs li button {
        margin: 0px;
        outline: 1px solid #fff;
        font-size: 11px !important;
        border-radius: 12px !important;
        padding: 5px 24px !important;
    }

    .img_case img {
        padding: 0px;
        width: 100%;
        height: 400px;
        object-fit: contain;
    }

    .title_obj {
        font-size: 16px;
        font-weight: 600;
    }

    .title_obj_des {
        font-size: 16px;
    }
   br 
   {
    display: none;
   }


}
@media screen and (max-width:800px)  
{
    .case_right_banner,.case_left_banner 
    {
       display: none;
    }
}